@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm px-4 py-2">
    <div class="container-fluid d-flex align-items-center p-0" style="position: relative;">
        <NavLinks></NavLinks>
        <NavTitle>
        </NavTitle>
        <ProfileDropdown></ProfileDropdown>
    </div>
</nav>
