@using BlazorBootstrap

<div class="d-flex align-items-center gap-3">
    <NavLink class="btn text-light border-0 p-2" href="myprojects" title="Home">
        <Icon Name="IconName.HouseFill" Size="IconSize.x4" />
    </NavLink>

    <NavLink class="btn text-light border-0 p-2" href="mytasks" title="My Tasks">
        <Icon Name="IconName.CardChecklist" Size="IconSize.x4" />
    </NavLink>

    <NavLink class="btn text-light border-0 p-2" href="mygroup" title="My Group">
        <Icon Name="IconName.People" Size="IconSize.x4" />
    </NavLink>
</div>
