
<div class="position-absolute start-50 translate-middle-x">
    <span class="navbar-brand mb-0 display-1 fw-medium text-light title text-decoration-none" style="cursor: pointer;">
        Proji
    </span>
</div>